{% extends 'base.html.twig' %}

{% block body %}

  <h2>{{ band.name }}</h2>
  <hr class="bg-light">
  <h3>Liste des membres</h3>
  <div class="container">
    <div class="row">
      {% for member in band.members %}
      <div class="col">
        <div class="card my-2" style="width: 18rem;">
          <img src="{{asset('images/members/' ~ member.image)}}" class="card-img-top" alt="..." style="height: 300px;object-fit:cover;">
          <div class="card-body">
            <h5 class="card-title">{{ member.artistName }}</h5>
            <p class="card-text">{{member.firstName}} {{member.lastName}} née le {{member.birthDate|date("d/m/Y")}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
