{% extends 'base.html.twig' %}

{% block body %}

  <h2>{{ band.name }}</h2>
  <hr class="bg-light">
  <h3>Liste des membres</h3>
  <div class="container">
    <div class="row">
      {% for member in band.members %}
      <div class="col">
        <div class="card my-2" style="width: 18rem;">
          <img src="{{asset('images/members/' ~ member.image)}}" class="card-img-top" alt="..." style="height: 300px;object-fit:cover;">
          <div class="card-body">
            <h5 class="card-title">{{ member.artistName }}</h5>
            <p class="card-text">{{member.firstName}} {{member.lastName}} née le {{member.birthDate|date("d/m/Y")}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
      <h1>Liste des concerts à venir</h1>
    <table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Groupe</th>
        <th scope="col">Tournée</th>
        <th scope="col">Date</th>
        <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for concert in concertsFuture %}
            <tr>
                <td>
                    <div class="img-cover" style="width: 80px;height:80px;">
                        <img src="{{asset('images/bands/'~concert.band.image)}}">
                    </div>
                </td>
                <td>{{concert.band.name}}</td>
                <td>{{concert.name}}</td>
                <td>{{concert.dateStart|date("d/m/Y")}}</td>
                <td>
                    <div class="dropdown show">
                        <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item bg-primary text-white" href="{{path('concert_edit', {id: concert.id})}}">Modifier</a>
                            <a class="dropdown-item bg-danger text-white" onclick="showConfirmModal(`Suppression`, `Voulez-vous confirmer la suppression de {{ concert.name }} ?`, `{{ path('concert_delete', {id: concert.id})}}`, 'btn-danger');">Supprimer</a>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}
